  <li>
  <%= button_to user.name, user %>
  <% if current_user.admin? %>
  | <%= button_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
  <% end %>
</li>