.container {
  width: 1024px;
}

body {
  background: #fff;
}

header {
  background: #0066cc;
  height: 100px;

}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}


section h1 {
  font-size: 200%;
}

.field {
        float: left;
        padding: 10px;
}

.text_line
{
        clear:both;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: blink;
}

a:visited {
  color: #069;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 75px;
  text-align: center;
  color: #0066cc;
  background: #345;
  font-size: 100%;
  font-weight: bold;
  padding: 5px;
}
/* Navigation */

nav {
  float: left;
  padding: 10px;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav a {
  margin: 0;
  padding: 0;
}

nav a {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

/* Round corners */

.round {
  -moz-border-radius:    20px;
  -webkit-border-radius: 20px;
  border-radius:         20px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

 .field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

 ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}